.g-featuredarticles-sz.sz-wrapper {
    
    // LAYOUT FEATURED ========================
    display: grid;
    grid-gap: 0;
    grid-auto-rows: 1fr; // set equal height for each row
    min-height: 48vh;
    
    // typically min 48rem
    @include breakpoint(no-mobile) {
        grid-template-columns: 2fr 1fr 1fr;
    }

    div.g-grid.sz-featured-box {
        
        .g-block {
            position: relative;
            overflow: hidden;
            
            img {
                // auto scale and center
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);               
            }
            
            .sz-content {
                position: relative;
                padding: 1.5rem;
                position: absolute;
                bottom: 0;
                color: $white;
                
                .g-array-item-category {
                    a {
                        color: $white;
                    }
                }

                .g-item-title {
                    font-size: 1.1rem;
                    a {
                        color: white !important;
                        text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
                    }
                }
            }

        }
        
        @include breakpoint(mobile-only){
            .g-block {
                min-height: 15vh;
            } 
           
            // &:first-of-type {
            //     .g-block {
            //         height: 30vh;
            //     }
            // }

            // &:nth-of-type(2),
            // &:nth-of-type(3),
            // &:nth-of-type(4),
            // &:nth-of-type(5) {
                   
            // }
            
        }



        @include breakpoint(no-mobile) {
            /* put them at the end
            so as not to be overiden
            the first element 
            */
            
            // FIRST ITEM
            &:first-of-type {
                grid-column-start: 1;
                grid-row-start: 1;
                grid-row-end: 3; // 2 rows
                

                div a img {
                    min-width: 52rem;
                }
                
                .g-item-title {
                    font-size: 1.5rem !important;
                }
                
            }

            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4),
            &:nth-of-type(5) {
                div a img {
                    min-width: 26rem;
                }
            }
        }
    }
}
