.portfolio-sz {
    .g-content{
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;

    }
    .portfolio-sz-title {
        font-size: 3rem;
        line-height: 120%;
        font-weight: 800;
    }



    // css grid
    .portfolio-sz-wrapper {
        display: grid;
        height: 100%;
        grid-template-rows: repeat(2, 1fr);

        // typically min 48rem
        @include breakpoint(no-mobile){
            grid-template-columns: repeat(2, 1fr);
        }

        // typically min 60rem
        @include breakpoint(desktop-only) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
        
    .portfolio-sz-gutter {
        grid-gap: 1rem;
    }

    // position: relative;
    .portfolio-item-sz {
        // display: flex;
        // justify-content: center;
        // align-items: center;
    }
    
    .portfolio-sz-item-title {
        font-size: 2rem;
        line-height: 120%;
        font-weight: 800;
        margin: 1rem 0;
    }
    
    /*###### HOVER EFFECT ###############################*/
    .above {
        position: relative;
        overflow: hidden;
        text-align: center;
        box-shadow: 1px 1px 2px #e6e6e6;
        cursor: default;

        img {
            display: block;
            position: relative;
        }

        .porfolio-sz-container{
            position: absolute;
            overflow: hidden;
            top: 0;
            right:0; 
            bottom: 0;
            left: 0;    
            // TODO: make it flex and position vertical
        }
        
        .button {
            display: block;
            margin: 1rem 20%;
        }


    }


   
}