.skillbarSZ {


   .sz-skillbars{
       
    /* Container for skill bars */
    .container {
        width: 100%; /* Full width */
        background-color: #ddd; /* TODO: make it inline */
    }
    
    .skills {
        color: $white;
        text-align: right; 
        padding-right: 1.5rem; 
        line-height: 2.5rem;
    }
       
       
       
       
   }


   

    @include breakpoint(mobile-only) {
       
    }
    @include breakpoint(desktop-range) {

    }
    @include breakpoint(tablet-range) {
        
    }
    @include breakpoint(small-mobile-range) {
        // width: 100%;
    }
}