.timelineSZ {
    h1, h2, h3, h4, h5 {
        margin: 0;
    }

    .sz-timeline {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        
        // the vertical line
        &:after {
            content: '';
            position: absolute;
            width: 6px;
            background-color: white !important; //TODO: use accent
            top: 0;
            bottom: 0;
            left: 50%;
            margin-left: -3px;
            }
    
        .container {
            position: relative;
            width: 50%;
            
            /* The circles on the timeline */
            &:after {
                content: '';
                position: absolute;
                width: 25px;
                height: 25px;
                top: 15px;
                right: -13px;
                background-color: white;
                border: 4px solid #FF9F55;
                border-radius: 50%;
                z-index: 1;
                
                &:right {
                    color: red;
                }
                
            }
            

    
            /* Place the container left and right */
            &.left {
                left: 0;
                
                /* Add arrows to the left container (pointing right) */
                &:before {
                    content: " ";
                    height: 0;
                    position: absolute;
                    top: 18px;
                    width: 0;
                    z-index: 1;
                    right: 30px;
                    border: medium solid white;
                    border-width: 10px 0 10px 10px;
                    border-color: transparent transparent transparent white;
                }
            }
            
            &.right {
                left: 50%;
                
                &:before {
                    content: " ";
                    height: 0;
                    position: absolute;
                    top: 22px;
                    width: 0;
                    z-index: 1;
                    left: 30px;
                    border: medium solid white;
                    border-width: 10px 10px 10px 0;
                    border-color: transparent white transparent transparent;
                }
                
                &:after {
                    left: -16px;
                }
            }
            
            .content {
                padding: 20px 30px;
                margin: 40px;
                background-color: white;
                position: relative;
                border-radius: 6px;
            }            
                    
        }
        
        
        
        
    }


    
    .sz-timeline-description {
        padding: 1.5rem 0;
        
        @include breakpoint(mobile-only) {
            padding: 0.5rem 0;    
        }
        
        @include breakpoint(small-mobile-range) {
            padding: 0.5rem 0;    
        }
    }

    @include breakpoint(desktop-range) {

    }
    
    @include breakpoint(tablet-range) {
        
    }
    
    @include breakpoint(mobile-only) {
        width: 100%;
    }
    
    @include breakpoint(small-mobile-range) {
        width: 100%;
    }
    

}