{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div class="headlineSZ" >
        <div class="g-grid">
            <div class="g-block">
                <div class="g-content">
                    <div>
                        {#HEADLINE#}
                        {% if particle.maintitle %}
                            <h2 class="sz-particles-title">{{ particle.maintitle|raw }}</h2>
                        {% endif %}

                        {#SUBTITLE#}
                        {% if particle.subtitle %}
                            <div>
                                <h3 class="sz-particles-subtitle">{{ particle.subtitle|raw }}</h3>
                            </div>
                        {% endif %}                          
                        
                        {#DESCRIPTION#}
                        {% if particle.description %}
                            <p class="sz-particles-description">{{ particle.description|raw }}</p>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
